<%- include('header'); -%>

<h2>This is a TODO List App</h2>

<div class="box" style="padding: 40px 20px">
  <p>It has three pages</p>
  <ul>
    <li>Home</li>
    <li>Work</li>
    <li>About</li>
  </ul>
</div>
<%- include('footer'); -%>
